.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 50px;
  padding: 20px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 35px;
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 25px;
  }
}
