@import "../../styles/variables";

.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 380px;

  h2 {
    margin: 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    button {
      flex: 1;
      min-width: 120px;
    }
  }

  @media (max-width: $breakpoint-sm) {
    .buttons-container {
      flex-direction: column;
      gap: 0.5rem;

      button {
        width: 100%;
      }
    }
  }
}
