.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}

/* Tablet / iPad */
@media screen and (max-width: 1023px) {
  .category-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .category-container {
    grid-template-columns: 1fr;
  }
}

.category-title {
  font-size: 38px;
  margin-bottom: 25px;
  text-align: center;
}

/* Smaller title for mobile */
@media screen and (max-width: 767px) {
  .category-title {
    font-size: 28px;
  }
}
