// =========================================
// GLOBAL VARIABLES AND BREAKPOINTS
// =========================================

// Breakpoints
$breakpoint-lg: 1200px; // large desktops
$breakpoint-md: 992px;  // tablets & small laptops
$breakpoint-sm: 768px;  // large phones & tablets
$breakpoint-xs: 480px;  // small phones

// Colors (optional)
$primary-color: #000;
$secondary-color: #fff;
$accent-color: #4285f4;

// Fonts
$main-font: "Roboto Condensed", sans-serif;
