@import "../../styles/variables";

.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 380px;

  h2 {
    margin: 0;
  }

  @media (max-width: $breakpoint-sm) {
    max-width: 100%;
  }
}
